/* You can add global styles to this file, and also import other style files */

.boton {
    border-radius: 15px;
    margin-right: 5px;
}

.back {
    margin-bottom: 15px;
}

.img-50 {
    width: 80px;
    height: 80px;
    border-radius: 50px;
}

.logo {
    width: 60px;
    height: 30px;
}

.send-request {
    margin-bottom: 16px;
}

.send-request span {
    margin-left: 8px;
}